
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background: #ddd;
  color: #111;
  position: relative;
  overflow: hidden;
}

.barcode-container {
  position: fixed;
  right: 4vw;
  bottom: 4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

a .barcode-label {
  font-size: 1.1em;
  letter-spacing: 0.1em;
  color: #111;
  margin-top: 0.2em;
  font-family: monospace;
  text-align: center;
}
